<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("TweetApp", "/posts/index") %>
        <% else %>
          <%= link_to("TweetApp", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}")%>
          </li>

          <li>
            <%= link_to("Post list", "/posts/index") %>
          </li>

          <li>
            <!-- ここに新規投稿ページへのリンクを追加してください -->
            <%= link_to("New post", "/posts/new") %>
          </li>

          <li>
            <%= link_to("User list", "/users/index") %>
          </li>

          <li>
            <%= link_to("Logout", "/logout", {method: :post}) %>
          </li>

        <% else %>
          <li>
            <%= link_to("What is tweeterApp", "/about") %>
          </li>

          <li>
            <%= link_to("Signup", "/signup") %>
          </li>

          <li>
            <%= link_to("Login", "/login") %>
          </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
